/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
/*---------
共通CSS 
---------*/

h1 {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
	color: #333333;
	margin-bottom: 15px;
}

section {
	padding: 10px 0;
}

a {
	color: #555;
	border-bottom: none;
}

a:hover {
	color: #1ABC9C;
	text-decoration: none;
}

body {
	background-color: #F9F9F9;;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

i {
	font-weight: 500;
}

.divider {
	color: #6a6a6a;
}

.divider::before,.divider::after {
	background-color: #6a6a6a;
}

.br-sp {
	display: none;
}

/*---------
header 
----------*/
.top-logo {
	max-height: 90px;
	min-height: 50px;
	min-width: 160px;
}

ul {
	list-style-type: none;
}

.menu-items {
	display: flex;
	flex-direction: row;
	justify-content: end;
	margin-bottom: 0;
}

.icon-lists {
	text-align: center;
	margin-right: 15px;
}

.icon-menu {
	font-size: 18px;
}

.menu-item1 {
	font-weight: bold;
}

/*---------
TOP
----------*/
.top-main-img {
	background-size: cover;
	height: 500px;
}

.top-message-wrap {
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.top-icon-wrap {
	height: 200px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.top-message {
	height: 150px;
	width: 1000px;
	background-color: #555;
	opacity: 0.5;
	color: #F7F7F7;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-message-inner {
	font-size: 4.5vw;
	margin-bottom: 0;
	text-align: center;
}

.icon-angle-down {
  font-size: 40px;
	color: #F7F7F7;
}

/*---------
ABOUT
----------*/

.frame {
	display: inline-block;
	position: relative;
	}

.frame:after {
	position: absolute;
	display: block;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	transform: rotate(3deg); /* 回転させる */
	background: #fff;
	z-index: -1;
}

	.about_me {
		font-size: 25px;
	}

	.about_me > span {
		color: #e65f78;
	}

	.about-left {
		padding: 30px;
	}


	.icon-twitter {
		color: rgb(29, 161, 242);
		font-size: 25px;
	}

	.icon-twitter:hover {
		opacity: 0.8;
		color: rgb(29, 161, 242);
	}
/*---------
SERVICES
----------*/
.services {
	margin-top: 30px;
	font-weight: bold;
}


.service-subtitle {
	font-size: 20px;
	text-align: center;
	margin-bottom: 40px;
	font-weight: lighter;
}

.service-content {
	font-weight: lighter;
}

.services-contact {
	margin-top: 40px;
	text-align: center;
}

.services-contact-message {
	padding: 10px;
	border: 2px solid #444;
	background-color: transparent;
	border-radius: 999px;
	color: #333;
}

button.services-contact-message:hover {
	border: 2px solid #1ABC9C;
	background-color: #1ABC9C;
	color: #f3f3f3;
}

/*---------
PORTFOLIO
----------*/
.disable {
	pointer-events: none;
	font-weight: bold;
}

/*---------
CONTACT
----------*/
.contact-form {
	display: flex;
	justify-content: center;
}


.end-message {
  display: none;
	text-align: center;
}

.false-message {
  display: none;
	text-align: center;
}

/*---------
footer
----------*/
footer {
	padding: 15px;
	background-color: #282828;
	color: white;
}

.footer {
	margin-bottom: 0;
	text-align: right;
	font-size: 13px;
}

/*---------
スマホ用
----------*/
@media only screen and (max-width:767px) {

	.br-sp {
		display: block;
	}

/*---------
header
----------*/
.top-logo {
	max-height: 50px;
}

.icon-menu {
	font-size: 15px;
}

.menu-item1 {
	font-weight: bold;
	font-size: 10px;
}

/*---------
TOP
----------*/
.top-main-img {
	height: 350px;
}

.top-message-wrap {
	height: 350px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-icon-wrap {
	width: 100%;
	height: 10px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.top-message {
	height: 100px;
	width: 700px;
	background-color: #555;
	opacity: 0.5;
	color: #F7F7F7;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-message-inner {

	margin-bottom: 0;
	text-align: center;
}

.icon-angle-down {
  font-size: 40px;
	color: #F7F7F7;
}

/*---------
Footer
----------*/
.footer {
	text-align: center;
}



}